<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Biography</h1>
      <p>
        Egon Schiele (1890-1918) was an Austrian painter known for his profound
        influence on expressionism and his unconventional, often provocative,
        artwork. His distinctive style is characterized by distorted and
        elongated figures, bold lines, and a focus on human form and sexuality.
        Schiele's work often explored themes of self-expression, sexuality, and
        the human psyche, pushing the boundaries of art and societal norms.
        Despite his short life, he left a lasting impact on the art world with
        his emotionally charged and intensely personal creations, which continue
        to be celebrated for their raw and unapologetic nature. Egon Schiele's
        innovative contributions to the art world continue to be admired and
        studied, making him a prominent figure in the history of modern art.
      </p>
    </div>
    <div>
      <a href="/home">home</a>
      <a href="/about">about</a>
      <a href="/works">works</a>
      <a href="/gallery">gallery</a>
    </div>
  </body>
</html>
