<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>The Artist</h1>
    <div>
      <img src="/img/portirate.png" alt="Img" />
      <h2>Egon Schiele</h2>
      <div>
        <a href="/home">home</a>
        <a href="/about">about</a>
        <a href="/works">works</a>
        <a href="/gallery">gallery</a>
      </div>
    </div>
  </body>
</html>
