<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>works</h1>
    
    <div class="gallery">
        <div class="gallery-item">
            <img src="/img/Egon Schiele Tutt'Art@ (13).jpg" alt="Image 1">
        </div>
        <div class="gallery-item">
            <img src="/img/Egon Schiele Tutt'Art@ (9).jpeg" alt="Image 2">
        </div>
        <div class="gallery-item">
            <img src="/img/Egon Schiele Tutt'Art@ (9).jpg" alt="Image 3">
        </div>
    <div>
      <a href="/home">home</a>
      <a href="/about">about</a>
      <a href="/works">works</a>
      <a href="/gallery">gallery</a>
    </div>
  </body>
</html>
